@using DTI_Report.Infrastructure.Entities
@{
    var index = 1;
    @foreach (var item in Model ?? new List<DanhGiaThuongXuyen>())
    {
        <tr>
            <th scope="row">@index</th>
            <td>@item.TEN_KHOI</td>
            <td>@item.TEN_MON_HOC</td>
            <td>@item.MOT_LUA_CHON</td>
            <td>@item.NHIEU_LUA_CHON</td>
            <td>@item.DUNG_SAI</td>
            <td>@item.DIEN_VAO_CHO_TRONG</td>
            <td>@item.TU_LUAN</td>
            <td>@item.DANG_KHAC</td>
            <td>@item.TONG</td>
        </tr>
        index++;
    }
}